<template>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between mb-4 mt-4">
        <h4>Task manager</h4>
        <button @click.prevent="onCreate()" type="button" class="btn btn-primary"><i class="fa fa-plus pr-2" aria-hidden="true"></i>Create</button>
      </div>
      <div class="col-12 text-center">
        <div v-for="task in tasks" :key="task.id" class="card mt-2">
          <div class="card-header d-flex justify-content-between" :class="task.isUpdate ? 'bk-gray' : 'bk-white'">
            <div class="form-check">
              <label class="form-check-label">
                <input v-model="task.isUpdate" type="checkbox" class="form-check-input">{{ task.name }}
              </label>
            </div>
            <div v-if="task.isUpdate">
              <button @click.prevent="onUpdate(task)" type="button" class="btn btn-primary">Detail</button>
              <button @click.prevent="deleteTask(task)" type="button" class="btn btn-danger ml-2">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <ManageTask @created="createdTask" @updated="updatedTask" ref="manageTask" />
    </div>
  </div>
</template>

<script lang="ts" src="./TaskList.ctrl.ts">

</script>

<style scoped>
.btn {
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.bk-gray {
  background: #DFDFDF
}
.bk-white {
  background: #fff !important
}
</style>