<template>
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-row">
            <div class="form-group col-12">
              <label>Name</label>
              <input v-model="taskInfo.name" class="form-control" placeholder="Input name">
            </div>
            <div class="form-group col-12">
              <label>Description</label>
              <input v-model="taskInfo.description" class="form-control" placeholder="Description">
            </div>
            <div class="form-group col-6">
              <label>Due time</label>
              <input v-model="taskInfo.dueTime" class="form-control" type="date" placeholder="Description">
            </div>
            <div class="form-group col-6">
              <label>Priority</label>
              <select v-model="taskInfo.priority" class="form-control">
                <option v-for="priority in priorities" :key="priority.id">{{ priority.label }}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button @click.prevent="submit()" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-property-decorator'
import { IPriorityInfo, ITaskInfo, PriorityInfo, TaskInfo } from '@/services/TaskService/Enities/TaskEntity'
import moment from 'moment'
import { PRIORITY } from '@/services/TaskService/Enities/ENUMS'
import { cloneDeep } from 'lodash'
import Swal from 'sweetalert2'

@Options({
  name: 'ManageTask'
})
export default class ManageTask extends Vue {
  private taskInfo: ITaskInfo = new TaskInfo({ })

  get priorities(): IPriorityInfo[] {
    return Object.keys(PRIORITY).map((key: string) => new PriorityInfo({ id: key, label: PRIORITY[key] }))
  }
  get title(): string {
    return this.taskInfo.isUpdate ? 'Update task' : 'Create task'
  }

  protected create(): void {
    this.taskInfo = new TaskInfo({ id: this.generateId() })
    $(this.$el).modal('show')
  }

  protected update(taskInfo: ITaskInfo): void {
    this.taskInfo = taskInfo
    $(this.$el).modal('show')
  }

  generateId(): string {
    let dt: number = moment().valueOf()
    let uuid: string = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c: any) {
      let r: number = (dt + Math.random() * 16) % 16 | 0
      dt = Math.floor(dt / 16)
      return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16)
    })
    return uuid
  }

  validateDate(date: string | undefined): boolean {
    return moment(date).isAfter(moment())
  }

  submitCreate(): void {
    if (this.validateDate(this.taskInfo.dueTime))
    {
      this.$emit('created', this.taskInfo)
      $(this.$el).modal('hide')
      Swal.fire({
        position: 'center',
        icon: 'success',
        title: 'Create task success',
        showConfirmButton: false,
        timer: 1500
      })
    } else {
      Swal.fire({
        position: 'center',
        icon: 'error',
        title: 'Please select due time > current time',
        showConfirmButton: false
      })
    }
  }

  submitUpdate(): void {
    const dataUpdate: ITaskInfo = cloneDeep(this.taskInfo)
    dataUpdate.isUpdate = false
    this.$emit('updated', dataUpdate)
    $(this.$el).modal('hide')
    Swal.fire({
      position: 'center',
      icon: 'success',
      title: 'Update task success',
      showConfirmButton: false,
      timer: 1500
    })
  }

  submit(): void {
    return this.taskInfo.isUpdate ? this.submitUpdate() : this.submitCreate()
  }

}
</script>

<style scoped>

</style>